#container_fpoo{
    background: url("../GIFS/Qm4D.gif") center top no-repeat;
    background-size: 100% 100%;
}

#container_fpoo::after{
    content: "";
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

/* titulo */

#t_fpoo{
    top: 10px;
}